<%- include("includes/email-head") %>

<h2>Reset your password</h2>

<p>Hi <%= email %>,</p>

<p>You (and hopefully not anyone else) have initiated a password reset request on Grouphone.</p>

<p>Please go to this URL to set a new password for your Grouphone account:</p>

<p class="highlight"><strong><a href="https://grouphone.me/activate/<%= token %>" target="_blank">https://grouphone.me/activate/<%= token %></a></strong></p>

<p>If you remember your existing password, you can still login with it.</p>

<%- include("includes/email-foot") %>
