<%- include("includes/email-head") %>

<h1>Welcome to <a href="http://grouphone.me" target="_blank">Grouphone</a>!</h1>

<p>Hi <%= email %>,</p>

<p>Thank you for choosing to be a part of Grouphone! Your account is now ready!</p>

<p>Grouphone is a one-of-its-kind group audio calling service that you can use from a latest HTML5 capable web browser. This means you can use it have an audio conversation with someone over the internet using browsers like Firefox or Chrome from your mobile devices as well. It even works over a 3G connection!</p>

<p>If you have a Firefox OS device with you, Grouphone works with Firefox OS 1.3+.</p>

<h2>How to get started?</h2>

<p>We have already created an account for you. But you need to set the password yourself. Please go to this URL to set a new password for your Grouphone account:</p>

<p class="highlight"><a href="http://grouphone.me/activate/<%= token %>" target="_blank">http://grouphone.me/activate/<%= token %></a></p>

<h2>How do I call someone?</h2>

<p>You need to set your password at the link given above. That should log you in automatically. Your user id is your email address.</p>

<p>Once logged in, you will see a big blue button, which you need to press to initiate call. You will need to let Grouphone acces your microphone (your browser will prompt you for it).</p>

<p>Once the call has started, you will find a box with a link to the current call in the center of the page. Give that link to your friends and ask them to open that link in a HTML5 capable browser. That's it!</p>

<p>Share it!</p>

<%- include("includes/email-foot") %>
