<%- include("includes/email-head") %>

<h1>Welcome to <a href="https://grouphone.me" target="_blank">Grouphone</a></h1>

<p>Hi <%= email %>,</p>

<p>Thank you for choosing to be a part of the Grouphone beta! We're extremely excited to let you know that the early beta release of Grouphone is now here, and brace yourself, you're an early adopter!</p>

<p>We've already created an account for you. But you need to set the password yourself. Please go to this URL and clailm your Grouphone account:</p>

<p class="highlight"><a href="https://grouphone.me/activate/<%= token %>" target="_blank">https://grouphone.me/activate/<%= token %></a></p>

<h2>How to use Grouphone?</h2>

<p>Grouphone is a one-of-its-kind group audio calling service that you can use from a latest HTML5 capable web browser. This means you can use it to have an audio conversation with someone over the internet using browsers like Firefox or Chrome from your mobile, laptop & desktop alike. It even works over a 3G connection!</p>

<p>If you have a Firefox OS device with you, Grouphone works with Firefox OS 1.3+.</p>

<h2>How do I call someone?</h2>

<p>You need to set your password at the link given above. Then log in with your email address (as your user id) &amp; the password that you've just set.</p>

<p>Once logged in, you will see a blue button, which you need to press to initiate call. You will need to let Grouphone access your microphone (your browser will prompt you for it).</p>

<p>Once the call has started, you will find a box with a link to the current call. Give that link to your friends and ask them to open that link in an HTML5 capable browser. That's it... They don't even need a Grouphone account to join your call!</p>

<h2>What should I expect?</h2>

<p>The project is still in its early days. Expect things to be very minimal for now. We've tried our best to rule out possible issues at this stage. However, as an early adopter, you may expect some bugs to show up here and there.</p>

<p>Over the next two months, we will polish it up better and add more resources. Till then, we would highly appreciate if you let us know if you have any suggestions or if you find any bugs.</p>

<h2>Feedback</h2>

<p>You can email us at <a href="mailto:feedback+app@grouphone.me">mailto:feedback+app@grouphone.me</a> or join our <a href="https://scrollback.io/grouphone" target="_blank">Scrollback channel</a>!</p>

<%- include("includes/email-foot") %>
